{% extends 'auth_page/base_auth.html' %}
{% load i18n %}

{% block title %}{% translate 'Log in' %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

  {% if form.errors %}
    <p>{% translate "Your username and password didn't match. Please try again." %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% translate 'Your account doesn't have access to this page. To proceed,
        please login with an account that has access.' %}</p>
    {% else %}
      <p>{% translate 'Please login to see this page.' %}</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="form-group">
    {% csrf_token %}
    <table>
      <tr>
        {{form|crispy}}
      </tr>
    </table>
    <br>
    <input type="submit" value="login" class="btn btn-success"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p>
    <br>
    <a href="{% url 'password_reset' %}">{% translate 'Lost password?' %}</a>
  </p>

{% endblock %}