{% extends 'questions_page/base_questions.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} {% translate 'Ask Question' %}{% endblock %}

{% block content %}
    <h1>{% translate 'Ask Question' %}</h1>
    <br>
    <form method="POST" class="form-group" enctype="multipart/form-data">
 
        {% csrf_token %}

        {{questionForm|crispy}}


        {{ img_form|crispy }}
        
        
        <br>
        <button type="submit" class="btn btn-success">{% translate 'Save' %}</button>
    </form>
{% endblock %}