{% extends 'questions_page/base_questions.html' %}
{% load i18n %}

{% block title %} {% translate 'Questions detail' %} {% endblock %}

{% block content %}
    <h1>{% translate 'Questions detail' %}</h1>
    <br>

    <div>
        {% if question.published_date %}
            <div class="date">
                {{ question.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            {% comment %}<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endcomment %}
        {% endif %}
        <h1>{{ question.title }}</h1>
        <p>{{ question.text|linebreaksbr }}</p>
    </div>
    <div>
        {% if images != None %}
            <h2>Pictures</h2>
            {% for image in images %}
                <img src="{{ image.image.url }}">
            {% endfor%}
        {% endif %}
    </div>
{% endblock %}