{% extends 'questions_page/base_questions.html' %}
{% load i18n %}

{% block title %} {% translate 'Questions detail' %} {% endblock %}

{% block content %}
    <h1>{% translate 'Questions detail' %}</h1>
    <br>

    <div>
        {% if question.published_date %}
            <div class="date">
                {{ question.published_date }}
            </div>
            <br>
            <strong>{{question.user}}</strong>
        {% endif %}
        {% if user.is_authenticated %}
            {% if can_edit %}
                <a class="btn btn-default" href="{% url 'question_edit_view' pk=question.pk %}"><i class="bi bi-pencil-square"></i></a>
            {% endif%}
        {% endif %}
        <h1>{{ question.title }}</h1>
        <p>{{ question.text|linebreaksbr }}</p>
    </div>
    <div>
        {% if images != None %}
            <h2>{% translate 'Pictures' %}</h2>
            {% for image in images %}
                <img src="{{ image.image.url }}" class="img-fluid">
            {% endfor%}
        {% endif %}
    </div>
    <br>
    <div>
        
            
            {% if answer != None %}
                <h2>{% translate 'Answer' %}</h2>
                
                <br>
                <br>
                <strong>{{answer.user}}</strong>
                <br>
                <br>
                <h5>{{answer.title}}</h5>
                <br>
                <p>{{answer.text}}</p>

                <div>
                    {% if media_files != None %}
                        <h3>{% translate 'Photo, Video' %}</h3>
                        {% for media_file in media_files %}
                            <img src="{{ media_file.media_file.url }}" class="img-fluid">
                        {% endfor%}
                    {% endif %}
                </div>
    
            {% endif %}

            <br>
    </div>

{% endblock %}