{% extends 'questions_page/base_questions.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% translate 'Question answer' %} {% endblock %}

{% block content %}

    <h2>{% translate 'Questions detail' %}</h2>
    <br>

    <div>
        {% if question.published_date %}
            <div class="date">
                {{ question.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            {% if can_edit %}
                <a class="btn btn-default" href="{% url 'question_edit_view' pk=question.pk %}"><i class="bi bi-pencil-square"></i></a>
            {% endif%}
        {% endif %}
        <h1>{{ question.title }}</h1>
        <p>{{ question.text|linebreaksbr }}</p>
    </div>
    <div>
        {% if images != None %}
            <h2>{% translate 'Pictures' %}</h2>
            {% for image in images %}
                <img src="{{ image.image.url }}">
            {% endfor%}
        {% endif %}
    </div>
    <br>
    <br>
    <div>
        <h2>{% translate 'Answer' %}</h2>
        <form method="POST" class="form-group" enctype="multipart/form-data">
 
            {% csrf_token %}
    
            {{answer_form|crispy}}
    
    
            {{ media_form|crispy }}
            
            
            <br>
            <button type="submit" class="btn btn-success">{% translate 'Save' %}</button>
        </form>
    </div>


{% endblock %}