{% extends 'base.html' %}
{% load i18n %}


{% block sideBar %}
    <li>
        <a href="{% url 'colourMixMain_view'%}" class="nav-link text-white" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><i class="bi bi-droplet-fill"></i></svg>
        {% translate 'Eco tinte' %}
        </a>
    </li>
    <li>
        <a href="{% url 'colour_mix_pigment_view'%}" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><i class="bi bi-palette"></i></svg>
        {% translate 'Pigment' %}
        </a>
    </li>
{% endblock %}