{% extends 'profile_page/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1>Password change</h1>
    <br>
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        {% if errorMsg %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Old Password is not correct, or new passwords do not match.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <br>
        <br>
        <input type="submit" value="change" class="btn btn-success"/>
    </form>


    


    

{% endblock %}