{% extends 'profile_page/base_profile.html' %}
{% load i18n %}

{% block title %} Profile {% endblock %}
{% block content %}

    <h1>Profile</h1>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><strong>{% translate 'username' %}:</strong>   {{ user.username }}</li>
        <li class="list-group-item"><strong>{% translate 'email' %}:</strong>      {{ user.email }}</li>
        <li class="list-group-item"><strong>{% translate 'first name' %}:</strong> {{ user.first_name }}</li>
        <li class="list-group-item"><strong>{% translate 'last name' %}:</strong>  {{ user.last_name }}</li>
    </ul>

    <br>
    <br>

    <a href="{% url 'password_change_view'%}">{% translate 'password change' %}</a>

{% endblock %}